{% extends 'index.html' %}
{% load i18n widget_tweaks %}
{% block extra_js %}

<script >
      //funcion para calcular el monto total
      function calc_total() {
           var sum = 0;

           $('.precio_unitario').each(function(){
             val = $(this).val();
             //si el valor del campo unitario es nulo, 0 ó NaN no ignoro
             if(!val || isNaN(val) || val == 0) {
                val;
             //sino los sumo a la variable sum
            } else{
               sum += parseInt(val);
             };
           });
           //asigno el valor de sum a id_importe_total
           $('#id_importe_total').val(function(){
               return sum;
           });
       };

      //Al iniciar llamo a la funcion para calcular el monto total
      calc_total();

      //uso datepicker en el campo fecha compra

      //defino los parametros de jquery.formset para agergar o quitar inlines
      $('div#{{ inlines.0.prefix }}').formset({
              prefix: '{{ inlines.0.prefix }}',
              addText: 'Agregar',
              deleteText: '',
              deleteCssClass: 'delete-row fa fa-times-circle',
      });

      //agrego clases a el link para agregar inlines formsets
      $('.add-row').addClass("fa fa-toggle-down")

      //muestro el modal
      $('#modal').on('show.bs.modal', function (event) {
          var modal = $(this);
          var url = $(event.relatedTarget).attr('href');
          $.ajax({
              url: url,
              context: document.body
          }).done(function(response) {
              modal.html(response);
          });
      });
      //si cambia el valor de algun precio_unitario vuelvo a culcular el total
      $(document).on('change', '.precio_unitario', function() {
          calc_total();
      });



</script>
{% endblock %}

{% block extra_css %}

<style type="text/css">

.fa-toggle-down::before{
  margin-right: 5px !important;
}
.fa-plus{
   position: absolute;
   color: #ECF0F1 !important;
   margin-left: 4px;
   margin-top: 3px;
   font-size: 8px !important;
}

th.active{
  background: #3f5367 !important;
  color: #ECF0F1 !important;
}
.add-row {
  font-size: 12px !important;
}
.delete-row{
  float: right;
  margin-right: -15px;
  margin-top: -120px;
}
.dynamic-form{
  background: #EDEDED !important;
  padding: 10px;
}
</style>
{% endblock %}

{% block content %}

  <!-- page content -->

  <div class="right_col" role="main">

   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
            <h2>Compra de Servicio <small></small></h2>
            <div class="clearfix"></div>
        </div>
      <div class="modal fade" id="modal"></div>
       <div class="x_content">
      <form action="" method="post" id="nueva_compra">{% csrf_token %}
        <input type="hidden" name="id_Producto" value="Servicio" />
         <fieldset class="form-group">
             <label for="exampleInputEmail1">
                N° Factura
             </label>
               {{ form.factura |attr:"class:form-control" }}
         </fieldset>
           <fieldset class="form-group">
               <label for="exampleInputEmail1">
                  {{ form.fecha_compra.label }}
               </label>
                 {{ form.fecha_compra |attr:"class:form-control" }}
            </fieldset>

            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.proveedor.label }}<a title="Agregar Proveedor" style="color: #5A738E !important;" class="fa fa-plus" data-toggle="modal"  data-target="#modal"  href="/proveedores/nuevo"> </a>
                </label>
                  {{ form.proveedor |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.comprador.label }}
                </label>
                  {{ form.comprador |attr:"class:form-control" }}
            </fieldset>
              {% for form in inlines.0 %}
              <div id="{{ inlines.0.prefix }}" class="form-group">
                {{form.errors}}
                {{ form.non_field_errors }}
                {{form.id}}
                {{ forms.media }}

                {% for field in form %}
                 {% if field.label not in no_fields %}
                  <label>{{ field.label }}</label>
                  {% if field.label == "Precio unitario" %}
                    <div>{{ field |attr:"class:form-control precio_unitario"  }}</div>
                  {% else %}
                    <div>{{ field |attr:"class:form-control"  }}</div>
                  {% endif %}
                 {% endif %}
                {% endfor %}

             {% endfor %}
           </div>
          {% for formset in inlines %}
            {{ formset.management_form }}
          {% endfor %}


            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.importe_total.label }}
                </label>
                  {{ form.importe_total |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.observaciones.label }}
                </label>
                  {{ form.observaciones |attr:"class:form-control" }}
            </fieldset>
           <a style="background-color: #e6e6e6 !important;"role="button" class="btn "  href="/compras">Cerrar </a>
           <input type="submit" class="btn btn-primary" value="Guardar" />
         </form>
        </div>
      </div>
   </div>

  </div>
        <!-- /page content -->
{% endblock %}
