{% extends 'index.html' %}
{% load i18n widget_tweaks %}
{% block extra_js %}
<script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/custom/js/jquery.formset.js"></script>
<script src="/static/custom/js/jquery.form.js"></script>
<script src="/static/custom/js/datepicker-es.js"></script>

<script >
      $('#id_Fecha_compra').datepicker({
        dateFormat: 'dd/mm/yy',
        regional: 'es'
      });
      $('div#{{ inlines.0.prefix }}').formset({
            prefix: '{{ inlines.0.prefix }}',
            addText: 'Agregar',
            deleteText: '',
            deleteCssClass: 'delete-row fa fa-times-circle',
        });
      $('.add-row').addClass("fa fa-toggle-down")

      $('#modal').on('show.bs.modal', function (event) {
          var modal = $(this);
          var url = $(event.relatedTarget).attr('href');
          $.ajax({
              url: url,
              context: document.body
          }).done(function(response) {
              modal.html(response);
          });
      });



</script>
{% endblock %}
<!-- Here's an example of how you can style add/delete buttons with CSS -->
{% block extra_css %}
<style type="text/css">
.delete-row{
  float: right;
  margin-right: -15px;
  margin-top: -352px;
}
.add-row {
  font-size: 12px !important;
  margin-bottom: 15px;
  margin-top: -15px;
}
.fa-plus{
   position: absolute;
   color: #ECF0F1 !important;
   margin-left: 4px;
   margin-top: 3px;
   font-size: 8px !important;
}
.dynamic-form{
  background: #EDEDED !important;
  padding: 10px;
}
</style>
{% endblock %}

{% block content %}

  <!-- page content -->

  <div class="right_col" role="main">

   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
            <h2>Compra de {{equipamiento|title}} <small></small></h2>
            <div class="clearfix"></div>
        </div>
      <div class="modal fade" id="modal"></div>
       <div class="x_content">
      <form action="" method="post" id="nueva_compra">{% csrf_token %}
         <fieldset class="form-group">
             <label for="exampleInputEmail1">
                N° Factura
             </label>
               {{ form.Factura |attr:"class:form-control" }}
         </fieldset>
           <fieldset class="form-group">
               <label for="exampleInputEmail1">
                  {{ form.Fecha_compra.label }}
               </label>
                 {{ form.Fecha_compra |attr:"class:form-control" }}
            </fieldset>

            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.Proveedor.label }}<a title="Agregar Proveedor" style="color: #5A738E !important;" class="fa fa-plus" data-toggle="modal"  data-target="#modal"  href="/proveedores/nuevo"> </a>
                </label>
                  {{ form.Proveedor |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.Comprador.label }}
                </label>
                  {{ form.Comprador |attr:"class:form-control" }}
            </fieldset>
                   <div id="{{ inlines.0.prefix }}" class="form-group">
                     {% for form in inlines.0 %}
                     {{form.errors}}
                     {{ form.non_field_errors }}
                       {{form.id}}
                       {{ forms.media }}
                       {% for field in form %}
                       {% if field.label not in no_fields %}
                         <label>{{ field.label }}</label>
                         <div>{{ field |attr:"class:form-control"  }}</div>
                       {% endif %}
                       {% endfor %}
                    {% endfor %}
                  </div>
                {% for formset in inlines %}
                  {{ formset.management_form }}
                {% endfor %}


            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.Importe_Total.label }}
                </label>
                  {{ form.Importe_Total |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.Observaciones.label }}
                </label>
                  {{ form.Observaciones |attr:"class:form-control" }}
            </fieldset>
            {{form.errors}}
            {{ form.non_field_errors }}
           <a style="background-color: #e6e6e6 !important;"role="button" class="btn "  href="/compras">Cerrar </a>
           <input type="submit" class="btn btn-primary" value="Guardar" />
           <input type="hidden" name="id_Producto" value="Equipamiento" />
           {{form.Producto| attr:"style:visibility: hidden;"}}
         </form>
        </div>
      </div>
   </div>

  </div>
        <!-- /page content -->
{% endblock %}
