{% extends 'index.html' %}
{% load i18n widget_tweaks %}
{% block extra_js %}
<script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/custom/js/jquery.formset.js"></script>
<script src="/static/custom/js/jquery.form.js"></script>
<script src="/static/custom/js/datepicker-es.js"></script>

<script >
      $('#id_Fecha_compra').datepicker({
        dateFormat: 'dd/mm/yy',
        regional: 'es'
      });
      $('#modal').on('show.bs.modal', function (event) {
          var modal = $(this);
          var url = $(event.relatedTarget).attr('href');
          $.ajax({
              url: url,
              context: document.body
          }).done(function(response) {
              modal.html(response);
          });
      });
      $('tr#{{ inlines.0.prefix }}').formset({
             prefix: '{{ inlines.0.prefix }}',
             addText: 'Agregar',
             deleteText: '',
             addCssClass: 'add-row fa fa-toggle-down',
             deleteCssClass: 'delete-row fa fa-times-circle',
         });

      $('.precio_unitario').each(function(){
          $(this).change(function(){
            calculate_subtotal();
          });
      });

      function calculate_subtotal(){
        $('.subtotal').val(function() {
          return $(this).closest('tr').find('.precio_unitario').val();
        });
      };

</script>
{% endblock %}
<!-- Here's an example of how you can style add/delete buttons with CSS -->
{% block extra_css %}
<style type="text/css">
.fa-toggle-down::before{
  margin-right: 5px !important;
}
.fa-plus{
   position: absolute;
   color: #ECF0F1 !important;
   margin-left: 4px;
   margin-top: 3px;
   font-size: 8px !important;
}
th.active{
  background: #3f5367 !important;
  color: #ECF0F1 !important;
}
.add-row {
  font-size: 12px !important;
}
.delete-row {
  position: absolute;
  right: 15px;
  padding: 6px 8px;
  border-left: 0;
  text-decoration: none;
  text-align: center;
}
.dynamic-form{
  background: #EDEDED !important;
  padding: 10px;
}
</style>
{% endblock %}

{% block content %}

  <!-- page content -->

  <div class="right_col" role="main">

   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
           {% if barriles %}
            <h2>Editar Compra de {{form.producto.value}} <small></small></h2>
           {% endif %}
            <div class="clearfix"></div>
        </div>
      <div class="modal fade" id="modal"></div>
       <div class="x_content">
      <form action="" method="post" id="nueva_compra">{% csrf_token %}
         <fieldset class="form-group">
             <label for="exampleInputEmail1">
                N° Factura
             </label>
               {{ form.factura |attr:"class:form-control" }}
         </fieldset>
           <fieldset class="form-group">
               <label for="exampleInputEmail1">
                  {{ form.fecha_compra.label }}
               </label>
                 {{ form.fecha_compra |attr:"class:form-control" }}
            </fieldset>

            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.proveedor.label }}<a title="Agregar Proveedor" style="color: #5A738E !important;" class="fa fa-plus" data-toggle="modal"  data-target="#modal"  href="/proveedores/nuevo"> </a>
                </label>
                  {{ form.proveedor |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.comprador.label }}
                </label>
                  {{ form.comprador |attr:"class:form-control" }}
            </fieldset>

                  {% for form in barriles %}
                   <div id="{{ form.prefix }}" class="form-group dynamic-form">
                        <input type="hidden" name="producto" value="barril" />
                      {{form.errors}}
                      {{ form.non_field_errors }}
                       {{form.id}}
                       {{ forms.media }}
                       {% for field in form %}
                       {% if field.label not in no_fields %}
                         <label>{{ field.label }}</label>
                         <div>{{ field |attr:"class:form-control"  }}</div>
                       {% endif %}
                       {% endfor %}
                  </div>
                     {% endfor %}
                     {{ barriles.management_form }}
                     <table  class="table table-striped jambo_table bulk_action" id="id_contact_info_table" border="0" cellpadding="0" cellspacing="5">
                         <thead>
                             <tr>
                                 <th scope="col">Insumo <a title="Agregar Insumo" class="fa fa-plus" data-toggle="modal"  data-target="#modal"  href="/insumos/nuevo/insumo"> </a></th>
                                 <th scope="col">Cantidad</th>
                                 <th scope="col">Presentacion</th>
                                 <th scope="col">Precio Unitario</th>
                                 <th scope="col">Subtotal</th>
                                 <th scope="col"> </th>
                             </tr>
                         </thead>
                         <tbody>
                              {% for form in inlines.0 %}
                              <tr id="{{ inlines.0.prefix }}" class="form-group">
                                {{form.errors}}
                                {{form.id}}
                                {{ forms.media }}
                                 <td>{{ form.insumo | append_attr:"class:form-control" }}</td>
                                 <td> {{ form.cantidad | append_attr:"class:form-control cantidad " }}</td>
                                 <td> {{ form.presentacion | append_attr:"class:form-control " }}</td>
                                 <td>  {{ form.precio_unitario | append_attr:"class:form-control precio_unitario" }}</td>
                                 <td> {{ form.subtotal | append_attr:"class:form-control subtotal " }}</td>
                                 <td></td>
                              </tr>
                             {% endfor %}


                         </tbody>
                     </table>

                        {% for form in servicios %}
                         <div id="{{ form.prefix }}" class="form-group dynamic-form">
                            <input type="hidden" name="producto" value="servicio" />
                            {{form.errors}}
                            {{ form.non_field_errors }}
                             {{form.id}}
                             {{ forms.media }}
                             {% for field in form %}
                             {% if field.label not in no_fields %}
                               <label>{{ field.label }}</label>
                               <div>{{ field |attr:"class:form-control"  }}</div>
                             {% endif %}
                             {% endfor %}
                        </div>
                           {% endfor %}
                           {{ servicios.management_form }}

                           {% for form in fermentadores %}
                            <div id="{{ form.prefix }}" class="form-group dynamic-form">
                               <input type="hidden" name="producto" value="fermentador" />
                               {{form.errors}}
                               {{ form.non_field_errors }}
                                {{form.id}}
                                {{ forms.media }}
                                {% for field in form %}
                                {% if field.label not in no_fields %}
                                  <label>{{ field.label }}</label>
                                  <div>{{ field |attr:"class:form-control"  }}</div>
                                {% endif %}
                                {% endfor %}
                           </div>
                              {% endfor %}
                              {{ fermentadores.management_form }}

            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.importe_total.label }}
                </label>
                  {{ form.importe_total |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.observaciones.label }}
                </label>
                  {{ form.observaciones |attr:"class:form-control" }}
            </fieldset>
            {{form.errors}}
            {{ form.non_field_errors }}
           <a style="background-color: #e6e6e6 !important;"role="button" class="btn "  href="/compras">Cerrar </a>
           <input type="submit" class="btn btn-primary" value="Guardar" />
          {{form.Producto| attr:"style:visibility: hidden;"}}
         </form>
        </div>
      </div>
   </div>

  </div>
        <!-- /page content -->
{% endblock %}
