{% extends 'index.html' %}
{% load i18n widget_tweaks %}
{% block extra_js %}
<script src="/static/custom/js/compra_equipamiento.js"></script>

<script>

  //defino los parametros de jquery.formset para agergar o quitar inlines
  $('div#{{ inlines.0.prefix }}').formset({
    prefix: '{{ inlines.0.prefix }}',
    addText: 'Agregar',
    deleteText: '',
    addCssClass: 'add-row fa fa-toggle-down',
    deleteCssClass: 'delete-row fa fa-times-circle {{inlines.0.prefix}}',
  });

</script>
{% endblock %}
<!-- Here's an example of how you can style add/delete buttons with CSS -->
{% block extra_css %}
<style type="text/css">
  .fermentador_set {
    position:relative;
    top:-180px;
    float: right;
    right: -15px;
  }
  .barril_set {
    position:relative;
    top:-236px;
    float: right;
    right: -15px;
  }
  .pallet_set {
    position:relative;
    top:-180px;
    float: right;
    right: -15px;
  }

  .add-row {
    font-size: 12px !important;
    margin-bottom: 15px;
    top: -15px;
  }

  .fa-plus {
    position: absolute;
    color: #ECF0F1 !important;
    margin-left: 4px;
    margin-top: 3px;
    font-size: 8px !important;
  }

  .dynamic-form {
    background: #EDEDED !important;
    padding: 10px;
  }
</style>
{% endblock %}

{% block content %}

  <!-- page content -->

  <div class="right_col" role="main">

   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
            <h2>Compra de {{equipamiento|title}} <small></small></h2>
            {{form.errors}}
            <div class="clearfix"></div>
        </div>
      <div class="modal fade" id="modal"></div>
       <div class="x_content">
      <form action="" method="post" id="nueva_compra">{% csrf_token %}
         <fieldset class="form-group">
             <label for="exampleInputEmail1">
                N° Factura
             </label>
               {{ form.factura |attr:"class:form-control" }}
         </fieldset>
           <fieldset class="form-group">
               <label for="exampleInputEmail1">
                  {{ form.fecha_compra.label }}
               </label>
                 {{ form.fecha_compra |attr:"class:form-control" }}
            </fieldset>

            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.proveedor.label }}<a title="Agregar Proveedor" style="color: #5A738E !important;" class="fa fa-plus" data-toggle="modal"  data-target="#modal"  href="/proveedores/nuevo"> </a>
                </label>
                  {{ form.proveedor |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.comprador.label }}
                </label>
                  {{ form.comprador |attr:"class:form-control" }}
            </fieldset>
                    {{inlines.errors}}
                     {% for form in inlines.0 %}
                      <div id="{{ inlines.0.prefix }}" class="form-group">
                     {{form.errors}}
                     {{ form.non_field_errors }}
                       {{form.id}}
                       {{ forms.media }}
                       {% for field in form %}
                        {% if field.label not in no_fields %}
                         <label>{{ field.label }}</label>
                         {% if field.label == "Precio unitario" %}
                           <div>{{ field |attr:"class:form-control precio_unitario"  }}</div>
                         {% else %}
                           <div>{{ field |attr:"class:form-control"  }}</div>
                         {% endif %}
                        {% endif %}
                       {% endfor %}
                  </div>
                    {% endfor %}
                {% for formset in inlines %}
                  {{ formset.management_form }}
                {% endfor %}


            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.importe_total.label }}
                </label>
                  {{ form.importe_total |attr:"class:form-control" }}
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">
                   {{ form.observaciones.label }}
                </label>
                  {{ form.observaciones |attr:"class:form-control" }}
            </fieldset>
            {{form.errors}}
            {{ form.non_field_errors }}
           <a style="background-color: #e6e6e6 !important;"role="button" class="btn "  href="/compras">Cerrar </a>
           <input type="submit" class="btn btn-primary" value="Guardar" />
            {{form.producto| attr:"style:visibility: hidden;"| attr:"value:equipamiento"}}

         </form>
        </div>
      </div>
   </div>

  </div>
        <!-- /page content -->
{% endblock %}
