{% extends 'index.html' %} {% load widget_tweaks %} {% block extra_js %}
<!-- jQuery Smart Wizard -->
<script src="/static/vendors/js/countimer.js"></script>
<script src="/static/vendors//js/jquery.smartWizard.js"></script>
<script>
  {% for formset in inlines %}
  $('tr#{{ formset.prefix }}').formset({
    prefix: '{{ formset.prefix }}',
    addText: 'Agregar',
    deleteText: '',
    addCssClass: 'add-row fa fa-toggle-down',
    deleteCssClass: 'delete-row fa fa-times-circle',
  });
  {% endfor %}

  {% if receta %}
     document.getElementById("id_lote").value = "{{receta.ID}}{{lote}}";
  {% endif %}

  $('#wizard_verticle').smartWizard({
    labelNext: 'Siguiente',
    labelPrevious: 'Volver',
    labelFinish: 'Finalizar',
    onFinish: onFinishCallback
  });

  function onFinishCallback(objs, context) {
    $('form').submit();
  }



if ($('id_litros').val().length == 0) {
      $(this).parents('div').addClass('warning');
}



</script>
{% endblock %} {% block extra_css %}
<style type="text/css">
  .fa-toggle-down::before {
    margin-right: 5px !important;
  }

  .fa-plus {
    position: absolute;
    color: #ECF0F1 !important;
    margin-left: 4px;
    margin-top: 3px;
    font-size: 8px !important;
  }

  .add-row {
    font-size: 12px !important;
  }

  .delete-row {
    position: absolute;
    right: 20px;
    padding: 6px 8px;
    border-left: 0;
    text-decoration: none;
    text-align: center;
  }

  .receta_panel {
    width: 83% !important;
    margin-right: 1% !important;
  }

  .info_panel {
    width: 15% !important;

  }

  .info_panel h2 {
    font-size: 20px !important;
  }

  .panel_toolbox>li>a {
    font-size: 5px;
  }
</style>
{% endblock %} {% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class=" receta_panel x_panel col-md-8 col-sm-8 col-xs-8">

          <!-- top tiles -->

          <div class="x_content">

            <!-- Smart Wizard -->
            <form action="" method="post" class="form-horizontal form-label-left">{% csrf_token %}
              <!-- SmartWizard html -->
              <div id="wizard_verticle" class="form_wizard wizard_verticle">
                <ul class="list-unstyled wizard_steps anchor">
                  <li>
                    <a href="#step-1">
                            <span class="step_no">1</span>
                          </a>
                  </li>
                  <li>
                    <a href="#step-2">
                            <span class="step_no">2</span>
                         </a>
                  </li>
                  <li>
                    <a href="#step-3">
                            <span class="step_no">3</span>
                          </a>
                  </li>

                </ul>
                <form class="form-horizontal form-label-left">
                  <div class="stepContainer">

                    <div id="step-1" class="content" style="display: block;">
                      {{form.pk}}

                      <h2 class="StepTitle">Nueva Cocción</h2>
                      <span class="section"></span>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{form.fecha.label}} <span class="required"></span>
                            </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input value="{{hoy|date:'d/m/Y' }}{{form.fecha.value|date:" d/m/Y "}}" class="form-control" id="id_fecha" name="fecha" required="" maxlength="20" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.receta.label}}</label>
                        <div class="text-container col-md-6 col-sm-6 col-xs-12">
                          {{form.receta | append_attr:"class:form-control"| append_attr:"onchange:this.form.submit()"}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{form.lote.label}} <span class="required"></span>
                            </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{form.lote | append_attr:"class:form-control" }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.litros.label}}</label>
                        <div class="text-container col-md-6 col-sm-6 col-xs-12">
                          {{form.litros | append_attr:"class:form-control" }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.DF.label}}</label>
                        <div class="text-container col-md-6 col-sm-6 col-xs-12">
                          {{form.DF | append_attr:"class:form-control" }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.observaciones.label}}</label>
                        <div class="text-container col-md-6 col-sm-6 col-xs-12">
                          {{form.observaciones | append_attr:"class:form-control" }}
                        </div>
                      </div>

                    </div>
                      <!--  LOS INGREDIENTES DE LOS PASOS 2 Y 3, SE CARGAN DINAMICAMENTE POR AJAX (FUNCION CHANGE DE ID_RECETA)-->
                    <div id="step-2">
                      <h2 class="StepTitle">Maltas</h2>
                      <span class="section"></span>
                      <table class="table " cellspacing="5">
                        <thead>
                          <tr>
                            <th scope="col">Malta </th>
                            <th scope="col">Cantidad</th>
                            <th scope="col"> </th>
                          </tr>
                        </thead>
                        <tbody class="table_body">
                          {% if maltas %} {% for form in maltas %}
                          <tr id="{{ lupulos.prefix }}">
                            {{form.errors}} {{ forms.media }}
                            <td>{{ form.malta| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {{maltas.management_form}} {% else %} {% for form in inlines.1 %}
                          <tr id="{{ inlines.1.prefix }}">
                            {{form.errors}} {{form.id}} {{ forms.media }}
                            <td>{{ form.lupulo| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {% endif %}
                        </tbody>
                      </table>

                      <h2 class="StepTitle">Lupulos</h2>
                      <span class="section"></span>
                      <table class="table " cellspacing="5">
                        <thead>
                          <tr>
                            <th scope="col">Lupulo </th>
                            <th scope="col">Cantidad</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if lupulos %} {% for form in lupulos %}
                          <tr id="{{ lupulos.prefix }}">
                            {{form.errors}} {{ forms.media }}
                            <td>{{ form.lupulo| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {{lupulos.management_form}} {% else %} {% for form in inlines.1 %}
                          <tr id="{{ inlines.1.prefix }}">
                            {{form.errors}} {{form.id}} {{ forms.media }}
                            <td>{{ form.lupulo| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {% endif %}
                        </tbody>
                      </table>
                    </div>

                    <div id="step-3">
                      <h2 class="StepTitle">Levaduras</h2>
                      <span class="section"></span>
                      <table class="table " cellspacing="5">
                        <thead>
                          <tr>
                            <th scope="col">Levadura </th>
                            <th scope="col">Cantidad</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if levaduras %} {% for form in levaduras %}
                          <tr id="{{ levaduras.prefix }}">
                            {{form.errors}} {{ forms.media }}
                            <td>{{ form.levadura| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {{levaduras.management_form}} {% else %} {% for form in inlines.2 %}
                          <tr id="{{ inlines.2.prefix }}">
                            {{form.errors}} {{form.id}} {{ forms.media }}
                            <td>{{ form.levadura| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {% endif %}
                        </tbody>
                      </table>
                      &nbsp; &nbsp;
                      <h2 class="StepTitle">Agregados</h2>
                      <span class="section"></span>
                      <table class="table " cellspacing="5">
                        <thead>
                          <tr>
                            <th scope="col">Agregados</th>
                            <th scope="col">Cantidad</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if agregados %} {% for form in agregados %}
                          <tr id="{{ agregados.prefix }}">
                            {{form.errors}} {{ forms.media }}
                            <td>{{ form.agregado| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {{agregados.management_form}} {% else %} {% for form in inlines.3 %}
                          <tr id="{{ inlines.3.prefix }}">

                            {{form.errors}} {{form.id}} {{ forms.media }}
                            <td>{{ form.agregado| append_attr:"class:form-control" }}</td>
                            <td>
                              <span class="unidad">g</span> {{ form.cantidad | append_attr:"class:form-control cantidad " }}
                            </td>
                            <td></td>
                          </tr>
                          {% endfor %} {% endif %}

                          <br/>
                        </tbody>
                      </table>
                      {% for formset in inlines %} {{formset.management_form}} {% for error in formset.errors %} {{ error }} {% endfor %} {% endfor %}
                    </div>

                  </div>
              </div>
              </form>
          </div>
          <!-- End SmartWizard Content -->
        </div>

        <div class=" info_panel x_panel col-md-4 col-sm-4 col-xs-4">
          <div class="x_title">
            <h2>Ultimas Cocciones <small></small></h2>
            <div class="clearfix"></div>
            <div style="margin-top:10px;" class="x_content">
              {% for coccion in ultimas %} {{coccion}} {% endfor %}
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
</div>
<!-- /page content -->

{% endblock %}
