{% extends 'index.html' %}


{% block content %}
  <!-- page content -->

  <div class="right_col" role="main">

   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Maduraciones <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
             <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
             <li claps="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a  href="/maduraciones/nueva">Nueva</a></li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="modal fade" id="modal"></div>
         <div class="table-responsive">
         <table id="compras" class="table table-striped jambo_table bulk_action">
           <thead>
             <tr class="headings">
              <th style="text-align:left">Lote </th>
              <th> Fecha Inicio </th>
              <th> Madurador </th>
              <th >Litros </th>
              <th >Fecha Final</th>
              <th >Embarrilados</th>
              <th >Observaciones</th>
              <th > </th>
           </thead>
           <tbody>
             {% for dato in maduraciones %}
            <tr class="even pointer">
                <td >{{dato.lote}}</td>
                <td >{{dato.fecha_inicio}}</td>
                <td>{{dato.madurador}}</td>
                <td >{{dato.litros}}</td>
                <td >{{dato.fecha_final}} </td>
                <td >{% if dato.embarrilados != None %}{{dato.embarrilados}}{% else %}0{% endif %}</td>
                <td >{{dato.observaciones}}</td>
                <td>
                    <a  data-toggle="modal" data-id="{{data.lote}}" data-target="#modal" href="ver/{{dato.lote}}" title="Ver"><i class="fa fa-eye"></i></a>
                    <a href="editar/{{dato.lote}}" title="Editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/dato.lote}}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
         </table>
         </div>
        </div>
      </div>
   </div>


  </div>
        <!-- /page content -->
{% endblock %}
