{% extends 'index.html' %}
{% load widget_tweaks %}

{% block extra_js %}
  <!-- jQuery Smart Wizard -->
    <script src="/static/custom/js/jquery.formset.js"></script>
    <script src="/static/custom/js/moment.js"></script>
    <script src="/static/custom/js/countimer.js"></script>
    <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/static/custom/js/jquery.validate.js"></script>
    <script>
    $(function() {
        {% for formset in inlines %}
        $('div#{{ formset.prefix }}').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Agregar',
            deleteText: 'Eliminar',
            addCssClass: 'col-md-1 col-sm-1 col-xs-1 btn btn-info btn-sm {{formset.prefix}}-agregar',
            deleteCssClass: 'col-md-1 col-sm-1 col-xs-1 btn btn-info btn-sm {{formset.prefix}}-eliminar',
        });
        {% endfor %}
    })
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal()
    {
	      var url      = window.location.href;
        $('#popup').modal('hide');
        window.location.replace(url);
    }
    $(document).ready(function(){

    $('#wizard_verticle').smartWizard({
      labelNext:'Siguiente',
      labelPrevious:'Volver',
      labelFinish:'Finalizar',
      onFinish:onFinishCallback
    });

    function onFinishCallback(objs, context){
            $('form').submit();
    }
    });
    </script>
{% endblock %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Nueva Receta <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <!-- Smart Wizard -->
                   <form action="" method="post" class="form-horizontal form-label-left">{% csrf_token %}
                    <!-- SmartWizard html -->
                    <div id="wizard_verticle" class="form_wizard wizard_verticle">
                      <ul class="list-unstyled wizard_steps anchor">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                         </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>

                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-5">
                            <span class="step_no">5</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-6">
                            <span class="step_no">6</span>
                          </a>
                        </li>

                      </ul>
                     <form class="form-horizontal form-label-left">
                      <div class="stepContainer" >

                      <div id="step-1" class="content" style="display: block;">
                        {{form.errors}}
                        <h2 class="StepTitle">Valores Generales</h2>
                        <span class="section"></span>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{form.Nombre.label}} <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{form.Nombre | append_attr:"class:form-control" }}
                              {{form.Nombre.errors}}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{form.Tipo.label}} <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form.Tipo | append_attr:"class:form-control"}}
                                {{form.Tipo.errors}}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.Litros.label}}</label>
                            <div class="text-container col-md-6 col-sm-6 col-xs-12">
                              {{form.Litros | append_attr:"class:form-control"}}
                              {{form.Litros.errors}}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.DI.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{form.DI | append_attr:"class:form-control" }}
                              {{form.DI.errors}}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.DF.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{form.DF | append_attr:"class:form-control" }}
                              {{form.DF.errors}}
                            </div>
                          </div>
                      </div>

                      <div id="step-2">
                        <h2 class="StepTitle">Valores Opcionales</h2>
                        <span class="section"></span>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{form.IBUs.label}} <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{form.IBUs | append_attr:"class:form-control" }}
                              {{form.IBUs.errors}}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.EBC.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{form.EBC | append_attr:"class:form-control" }}
                              {{form.EBC.errors}}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.Eficiencia.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <span class="unidad">%</span>
                              {{form.Eficiencia | append_attr:"class:form-control" }}
                              {{form.Eficiencia.errors}}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.Alcohol.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{form.Alcohol | append_attr:"class:form-control" }}
                              {{form.Alcohol.errors}}
                            </div>
                          </div>
                      </div>

                      <div id="step-3">
                        <h2 class="StepTitle">Maltas</h2>
                        <span class="section"></span>
                        <div id="{{ inlines.0.prefix }}" class="form-group">
                             {% for form in inlines.0 %}
                             {{form.id}}
                             <div class="col-md-6 col-sm-6 col-xs-6">
                                 <label for="middle-name">{{form.Malta.label}}</label>
                                 {{form.Malta | append_attr:"class:form-control"}}
                             </div>
                             <div class="col-md-6 col-sm-6 col-xs-6">
                                 <label for="middle-name">{{form.Cantidad.label}}</label>
                                 <span class="unidad-inlines">kg</span>
                                 {{form.Cantidad | append_attr:"class:form-control"}}
                             </div>
                            {{ form.management_form }}
                             {% endfor %}
                        </div>
                      </div>
                      <div id="step-4">
                        <h2 class="StepTitle">Maceracion</h2>
                        <span class="section"></span>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="middle-name" >{{form.Tiempo_Maceracion.label}}</label>
                          <span class="unidad-inlines">minutos</span>
                          {{form.Tiempo_Maceracion | append_attr:"class:form-control" }}
                          {{form.Tiempo_Maceracion.errors}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <label for="middle-name">{{form.Temp_Maceracion.label}}</label>
                          <span class="unidad-inlines">C°</span>
                          {{form.Temp_Maceracion | append_attr:"class:form-control" }}
                          {{form.Temp_Maceracion.errors}}
                        </div>
                        &nbsp;
                        &nbsp;
                        <h2 class="StepTitle">Filtrado</h2>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="middle-name">{{form.Tiempo_Filtrado.label}}</label>
                            <span class="unidad-inlines">minutos</span>
                            {{form.Tiempo_Filtrado | append_attr:"class:form-control" }}
                            {{form.Tiempo_Filtrado.errors}}
                          </div>
                       </div>
                       &nbsp;
                       &nbsp;
                       <h2 class="StepTitle">Lavado</h2>
                       <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-12">
                           <label for="middle-name">{{form.Tiempo_Lavado.label}}</label>
                           <span class="unidad-inlines">minutos</span>
                           {{form.Tiempo_Lavado | append_attr:"class:form-control" }}
                           {{form.Tiempo_Lavado.errors}}
                         </div>
                      </div>
                      </div>
                    </div>

                      <div id="step-5">
                        <h2 class="StepTitle">Coccion</h2>
                        <span class="section"></span>
                        <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-12">
                         <label for="middle-name" >{{form.Tiempo_Coccion.label}}</label>
                           <span class="unidad-inlines">minutos</span>
                           {{form.Tiempo_Coccion | append_attr:"class:form-control" }}
                           {{form.Tiempo_Coccion.errors}}
                         </div>
                       </div>
                       &nbsp;
                       &nbsp;
                        <h2 class="StepTitle">Lupulos</h2>
                        <span class="section"></span>
                        <div id="{{ inlines.1.prefix }}" class="form-group">
                             {% for form in inlines.1 %}
                             {{form.id}}
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                 <label for="middle-name">{{form.Lupulo.label}}</label>
                                 {{form.Lupulo | append_attr:"class:form-control"}}
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                 <label for="middle-name">{{form.Cantidad.label}} </label>
                                 <span class="unidad-inlines">g</span>
                                 {{form.Cantidad | append_attr:"class:form-control"}}
                             </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                 <label for="middle-name">{{form.Tiempo.label}} de Coccion</label>
                                 <span class="unidad-inlines">minutos</span>
                                 {{form.Tiempo | append_attr:"class:form-control"}}
                             </div>
                             {% endfor %}
                        </div>
                        &nbsp;
                        &nbsp;
                        <h2 class="StepTitle">Agregados</h2>
                        <span class="section"></span>
                        <div id="{{ inlines.2.prefix }}" >
                             {% for form in inlines.2 %}
                             {{form.id}}
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                 <label for="middle-name">{{form.Agregados.label}} de Coccion</label>
                                 {{form.Agregados | append_attr:"class:form-control"}}
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                 <label for="middle-name">{{form.Cantidad.label}}</label>
                                 <span class="unidad-inlines">g</span>
                                 {{form.Cantidad | append_attr:"class:form-control"}}
                             </div>
                            <div  class="col-md-4 col-sm-4 col-xs-4">
                                 <label for="middle-name">{{form.Tiempo.label}}</label>
                                 <span class="unidad-inlines">minutos</span>
                                 {{form.Tiempo | append_attr:"class:form-control"}}
                             </div>
                             {% endfor %}

                            {{ inlines.0.management_form }}
                            {{ inlines.1.management_form }}
                            {{ inlines.2.management_form }}
                        </div>



                      </div>

                      <div id="step-6">
                        <h2 class="StepTitle">Paso 5</h2>
                        <span class="section">Valores Fermentacion</span>

                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.Temp_Final.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <span class="unidad">C°</span>
                              {{form.Temp_Final| append_attr:"class:form-control" }}
                              {{form.Temp_Final.errors}}
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">{{form.Tiempo_Fermentacion.label}}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <span class="unidad">Dias</span>
                              {{form.Tiempo_Fermentacion | append_attr:"class:form-control" }}
                              {{form.Tiempo_Fermentacion.errors}}
                            </div>
                          </div>


                      </div>
                    </div>
                    </form>
                  </div>
                <!-- End SmartWizard Content -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

{% endblock %}
