{% extends 'index.html' %} {% block extra_js %}
<script src="/static/custom/js/jquery.form.js"></script>

<script>
  $('#modal').on('show.bs.modal', function(event) {
    var modal = $(this);
    var url = $(event.relatedTarget).attr('href');
    $.ajax({
      url: url,
      context: document.body
    }).done(function(response) {
      modal.html(response);
    });
  })
</script>

{% endblock %} {% block extra_css %}
<style type="text/css">

  .well {
    margin: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #ffff;
    width: 400px;
  }

  .stacked-bar-graph {
    width: 100%;
    height: 38px;
    color: #414042;
  }

  .receta {
    margin-top: -15px;
  }

  .receta ul {
    margin-right: -20px;
    margin-top: -2px;
  }

  .beer {
    font-family: "beer-webfont";
    font-size: 55px !important;
    position: absolute;
    left: 25px !important;
    bottom: 15px !important;
  }
  .data {
    margin-left: 65px;
    }
</style>
{% endblock %} {% block content %}
<!-- page content -->

<div class="right_col" role="main">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Recetas <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li claps="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="nueva">Nueva</a>
              </li>
          </li>
          </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="modal fade" id="modal"></div>
      <div class="x_content">
        {%for dato in recetas %}
        <div class="col-md-3 col-sm-3 col-xs-3 well profile_view">
          <div class="x_title receta">
            <a style="color:{{dato.color}} !important" class="beer">k</a>
            <h2>{{dato.nombre}} <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="edit-link"><i class="fa fa-wrench"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="col-sm-12 data">
            <div class="left col-xs-12">
              <ul class="list-unstyled">
                <li>
                  <b>IBUs:</b> {{dato.IBUs}} </li>
                <li>
                  <b> D.F.:</b> {{dato.DF}}
                </li>
                <li>
                  <b> Litros:</b> {{dato.litros}}
                </li>

              </ul>
            </div>
          </div>

        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock %}
