{% load i18n widget_tweaks %}

<div class="modal-dialog modal-lg" role="document">
    <form action="editar/{{insumo}}/" method="post" id="editar_ingrediente" class="form">{% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">{{form.Nombre.value}}</h4>
          </div>
          <div class="modal-body">
           <div class="form-group">
            <label>Estilo:</label>
            {{form.instance.Tipo}}
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label style="margin-left:-10px;" for="exampleInputEmail1">Ingredientes:</label>
             {% for malta in maltas %}
                <p style="">{{malta.Malta}}
                   {{malta.Cantidad}} Kgs
                </p>
             {% endfor %}
             {% for lupulo in lupulos %}
                <p style="">Lúpulo {{lupulo.Lupulo}}
                {{lupulo.Cantidad}} g
                </p>
             {% endfor %}
             {% for agregado in agregados %}
                <p style="">{{agregado.Agregados}}
               {{agregado.Cantidad}} g
               </p>
             {% endfor %}
          </div>
           <div class="col-md-6 col-sm-6 col-xs-12 form-group">
          <label for="exampleInputEmail1">
          Parametros:
          </label>
            <p style="margin-left:10px;">DI:
            {{form.DI.value}}
            </p>
            <p style="margin-left:10px;">DF:
            {{form.DF.value}}
            </p>
            <p style="margin-left:10px;">Eficiencia:
            {{form.Eficiencia.value}}
            </p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 " class="form-group">
           <label style="margin-left:-10px;"  for="exampleInputEmail1">Instrucciones:</label>
           <p style="margin-left:10px;">
             - La temperatura de maceración debe ser de {{form.instance.Temp_Maceracion}}°C y se debe manter por {{form.instance.Tiempo_Maceracion}} minutos. La densidad
             inicial del mosto debe estar entre {{form.instance.DI}}.
           </p>
          <p style="margin-left:10px;">
             - Los lupulos deben agregar de la siguiente forma: {% for lupulo in lupulos %}Lupulo {{lupulo.Lupulo}} a los {{lupulo.Tiempo}} minutos,  {% endfor %}
          </p>
          <p style="margin-left:10px;">
             - Los agregados deben agregar de la siguiente forma: {% for agregado in agregados %} {{agregado.Agregados}} a los {{agregado.Tiempo}} minutos {% endfor %}
          </p>
          <p style="margin-left:10px;">
             - La temperatura final del mosto debe ser de {{form.instance.Temp_Fermantacion}} y se debe dejar madurar por {{form.instance.Tiempo_Fermentacion}} dias.
          </p>

          </div>
          </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
