{% extends 'index.html' %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Equipamiento <small></small></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Fermentadores <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/fermentador">Nuevo</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="modal fade" id="modal"></div>
        <div class="x_content">

          <table class="ingredientes table table-striped">
            <thead>
              <tr>
                <th>N° serie</th>
                <th style="text-align: left;">Lote</th>
                <th>Lleno</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in fermentadores %}
                <tr>
                  <td>{{dato.numero_serie}}</td>
                  <td style="text-align: left;">{{dato.lote}}</td>
                  <td>{{dato.lleno|yesno:"Si,No" }}</td>
                  <td>
                    <a data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/fermentador/{{dato.numero_serie}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.numero_serie}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Barriles <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/barril">Nuevo</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="ingredientes table table-striped">
            <thead>
              <tr>
                <th>N° Serie</th>
                <th style="text-align: left;">Lote</th>
                <th>Lleno</th>
                <th>Carbonatado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in barriles %}
                <tr>
                  <td>{{dato.numero_serie}}</td>
                  <td style="text-align: left;">{{dato.embarrilado_set.latest.lote}}</td>
                  <td>{{dato.lleno|yesno:"Si,No" }}</td>
                  <td>{{dato.carbonatado|yesno:"Si,No" }}</td>
                  <td>
                    <a data-toggle="modal" data-id="{{data.numero_serie}}" data-target="#modal" href="editar/barril/{{dato.numero_serie}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.numero_serie}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Botellas <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/botella">Nuevo</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="ingredientes table table-striped">
            <thead>
              <tr>
                <th>Litros</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in botellas %}
                <tr>
                  <td>{{dato.litros}}</td>
                  <td>{{dato.cantidad|floatformat:"0"}}</td>
                  <td>
                    <a data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/botella/{{dato.id}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.id}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Varios <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/insumo">Nuevo</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="ingredientes table table-striped">
            <thead>
              <tr>
                <th style="text-align: left;">Nombre</th>
                <th>Cantidad</th>
                <th>Observaciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in varios %}
                <tr>
                  <td style="text-align: left;">{{dato.nombre}}</td>
                  <td>{{dato.cantidad|floatformat:"0"}}</td>
                  <td>{{dato.observaciones}}</td>
                  <td>
                    <a>
                              <a  data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/{{dato.id}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/dato.id}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock %}
