{% extends 'index.html' %}
{% block extra_css %}
<!-- bootstrap-progressbar -->
{% endblock %}
{% block extra_js %}
<!-- bootstrap-progressbar
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
-->

{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Ingredientes <small></small></h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="modal fade" id="modal"></div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Lúpulos <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/lupulo">Nuevo</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content ">
          <table class="ingredientes table table-striped ">
            <thead>
              <tr>
                <th style="text-align: left;">Nombre</th>
                <th>Alfa Acido</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in lupulos %}
                <tr>
                  <td style="text-align: left;">{{dato.nombre}}</td>
                  <td>{{dato.lupulo.alfa_acido}}</td>
                  <td class="project_progress">
                    <div class="progress progress_sm">
                      <div class="progress-bar  {% if dato.cantidad < dato.stock_minimo %} progress-bar-danger {% else %} progress-bar-info {% endif %}" role="progressbar" data-transitiongoal="{{dato.cantidad}}" aria-valuemin="0" aria-valuemax="2000"></div>
                    </div>
                    <small>{{dato.cantidad}} g</small>
                  </td>
                  <td>
                    <a>
                              <a  data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/{{dato.id}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.id}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Maltas <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/malta">Nueva</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="ingredientes table table-striped">
            <thead>
              <tr>
                <th style="text-align: left;">Nombre</th>
                <th>EBC</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in maltas %}
                <tr>
                  <td style="text-align: left;">{{dato.nombre}}</td>
                  <td>{{dato.malta.EBC}}</td>
                  <td class="project_progress">
                    <div class="progress progress_sm">
                      <div class="progress-bar  {% if dato.cantidad < dato.stock_minimo %} progress-bar-danger{% else %} progress-bar-info {% endif %}" role="progressbar" data-transitiongoal="{{dato.cantidad}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>{{dato.cantidad}} Kgs</small>
                  </td>
                  <td>
                    <a data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/{{dato.id}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.id}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Levaduras <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/levadura">Nueva</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="ingredientes table table-striped ">
            <thead>
              <tr>
                <th style="text-align: left;">Nombre</th>
                <th>Cantidad</th>
                <th>Vencimiento</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in levaduras %}
                <tr>
                  <td style="text-align: left;">{{dato.nombre}}</td>
                  <td class="project_progress">
                    <div class="progress progress_sm">
                      <div class="progress-bar  {% if dato.cantidad < dato.stock_minimo %} progress-bar-danger{% else %} progress-bar-info {% endif %}" role="progressbar" data-transitiongoal="{{dato.cantidad}}" aria-valuemin="0" aria-valuemax="2000"></div>
                    </div>
                    <small>{{dato.cantidad}} g</small>
                  </td>
                  <td>{{dato.Vencimiento}}</td>

                  <td>
                    <a data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/{{dato.id}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.id}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Agregados <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li claps="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modal" href="nuevo/agregado">Nuevo</a>
                </li>
            </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <table class="ingredientes table table-striped ">
            <thead>
              <tr>
                <th style="text-align: left;">Nombre</th>
                <th>cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for dato in agregados %}
                <tr>
                  <td style="text-align: left;">{{dato.nombre}}</td>
                  <td class="project_progress">
                    <div class="progress progress_sm">
                      <div class="progress-bar  {% if dato.cantidad < dato.stock_minimo %} progress-bar-danger{% else %} progress-bar-info {% endif %}" role="progressbar" data-transitiongoal="{{dato.cantidad}}" aria-valuemin="0" aria-valuemax="1000"></div>
                    </div>
                    <small>{{dato.cantidad}} g</small>
                  </td>
                  <td>
                    <a data-toggle="modal" data-id="{{data.id}}" data-target="#modal" href="editar/{{dato.id}}" title="editar"><i class="fa fa-edit"></i></a>
                    <a href="eliminar/{{dato.id}}" title="eliminar"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

{% endblock %}
